.popup{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background: rgba(220, 220, 220, 0.8);
  border: 1px dashed rgba(68, 68, 68, 0.3);
  display: none;
  justify-content: center;
  align-items: center;

}
.popup-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.popup.show-popup {
  display: flex;
}
